#container {
    display: block;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 20px;
    color: #000000;
    background-color: #FAFAFA;
    border: 1px solid #d0d0d0; /* A subtle border */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.75); /* Slight shadow for 3D effect */
    margin: 4px; /* Space around the body to show off the shadow */
    width: 100%; /* Adjust the body's width to occupy the full width of the viewport */
    overflow: auto; /* Enable scrolling if the content exceeds the height of the viewport */
}

#summarizedTextContainer {
    width: 100%; /* Set the width of the summarizedTextContainer to 100% of the viewport width */
    border-top: 1px solid #000; /* Add a horizontal divider */
    height: 100vh; /* Set the height of the summarizedTextContainer to 100% of the viewport height */
    overflow: auto; /* Enable scrolling if the content exceeds the height of the viewport */
    padding: 10px; /* Add some padding around the summarized text */
    box-sizing: border-box; /* Include the padding in the element's total width and height */
}

#logo {
    position: absolute;
    top: 10px;  /* Adjust these values to position your logo */
    left: 10px;
    margin: 10px;  /* Adjust as needed for desired spacing */
    width: 50px;   /* Adjust to the desired size */
    height: auto;  /* This maintains the logo's aspect ratio */
    z-index: 1;    /* Ensure the logo sits above other content */
}